.itemImg{
	width: 80%;
}

.itemBox{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.itemCard {
    flex: 0 0 22%;
    padding: 10px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px;
}

.itemImgBox{
	text-align: center;
}

.itemPrice{
	text-align: right;
}

.itemBtn{
	text-align: right;
}

.itemInfo{
	margin: 5px 0;
}