button{
	font-size: 1rem;
}

.itemImg{
	width: 80%;
}

.itemBox{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.itemCard {
    padding: 10px;
    margin: 10px;
    border: solid 1px black;
    border-radius: 10px;
    height: 95%;
}

.itemImgBox{
	text-align: center;
}

.itemPrice{
	text-align: right;
}

.itemBtn{
	text-align: right;
}

.itemInfo{
	margin: 5px 0;
}

/* 반응형 스타일 시작 */
/* 화면이 ?px 이상일 때 */
@media screen and (min-width: 100px){
	.itemBlock{
		flex: 0 0 100%;
	}	
	html{
		font-size: 10px;
	}
}
@media screen and (min-width: 300px){
	.itemBlock{
		flex: 0 0 50%;
	}
	html{
		font-size: 11px;
	}	
}
@media screen and (min-width: 600px){
	.itemBlock{
		flex: 0 0 33%;
	}	
	html{
		font-size: 12px;
	}
}    
@media screen and (min-width: 900px){
	.itemBlock{
		flex: 0 0 25%;
	}	
	html{
		font-size: 13px;
	}
} 
@media screen and (min-width: 1200px){
	.itemBlock{
		flex: 0 0 20%;
	}	
	html{
		font-size: 14px;
	}
} 
/* 반응형 스타일 끝 */